<?xml version="1.0"?>

<model>
  <name>Rosbot XL</name>
  <version>2.0</version>
  <sdf version="1.6">rosbot_xl.urdf.xacro</sdf>

  <author>
    <name>Krzysztof wojciechowski</name>
    <email>krzysztof.wojciechowski@husarion.com</email>
  </author>

  <description>
    Rosbot XL simulation model
  </description>
</model>