<?xml version='1.0'?>
<robot name="rosbot_xl" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="use_sim" default="false" />
  <xacro:include filename="$(find rosbot_xl_description)/models/rosbot_xl_base/rosbot_xl_macro.urdf.xacro" ns="husarion" />
  <xacro:husarion.rosbot_xl_robot use_sim="$(arg use_sim)" />

</robot>

