<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="body" params="wheel_radius tf_prefix">

    <xacro:if value="${tf_prefix == 'None'}">
      <xacro:property name="tf_prefix_ext" value="" />
    </xacro:if>
    <xacro:unless value="${tf_prefix == 'None'}">
      <xacro:property name="tf_prefix_ext" value="${tf_prefix}_" />
    </xacro:unless>

    <link name="${tf_prefix_ext}base_link" />

    <joint name="${tf_prefix_ext}base_to_${tf_prefix_ext}body_joint" type="fixed">
      <origin xyz="0.0 0.0 ${wheel_radius}" rpy="0.0 0.0 0.0" />
      <parent link="${tf_prefix_ext}base_link" />
      <child link="${tf_prefix_ext}body_link" />
    </joint>

    <link name="${tf_prefix_ext}body_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find rosbot_xl_description)/meshes/body.dae" scale="1 1 1" />
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </visual>

      <collision>
        <geometry>
          <mesh filename="file://$(find rosbot_xl_description)/meshes/body_colision.stl" scale="1 1 1" />
        </geometry>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      </collision>

      <inertial>
        <mass value="3.5" />
        <origin xyz="0.0 0.0 0.0358" rpy="0.0 0.0 0.0" />
        <inertia ixx="0.01393" ixy="-0.000020968097" ixz="0.000010399694"
                               iyy= "0.01081"        iyz="0.000059372953"
                                                     izz="0.02048" />
      </inertial>
    </link>

    <joint name="${tf_prefix_ext}body_to_${tf_prefix_ext}cover_joint" type="fixed">
      <origin xyz="0.0 0.0 0.08345" rpy="0.0 0.0 0.0" />
      <parent link="${tf_prefix_ext}body_link" />
      <child link="${tf_prefix_ext}cover_link" />
    </joint>

    <link name="${tf_prefix_ext}cover_link" />

    <joint name="${tf_prefix_ext}body_to_${tf_prefix_ext}imu_joint" type="fixed">
      <origin xyz="-0.1369 -0.0419 0.0370" rpy="3.14159 0.0 0.0" />
      <parent link="${tf_prefix_ext}body_link" />
      <child link="${tf_prefix_ext}imu_link" />
    </joint>

    <link name="${tf_prefix_ext}imu_link" />

  </xacro:macro>
</robot>
