<?xml version='1.0'?>
<robot name="rosbot_xl" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="mecanum" default="false" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="namespace" default="None" />
  <xacro:arg name="controller_config_file" default="$(find rosbot_xl_controller)/config/diff_drive_controller.yaml" />

  <xacro:include filename="$(find rosbot_xl_description)/urdf/rosbot_xl/rosbot_xl_macro.urdf.xacro"
    ns="husarion" />
  <xacro:husarion.rosbot_xl_robot
    controller_config_file="$(arg controller_config_file)"
    mecanum="$(arg mecanum)"
    namespace="$(arg namespace)"
    use_sim="$(arg use_sim)" />

  <xacro:include filename="$(find rosbot_xl_description)/urdf/rosbot_xl/components/antenna.urdf.xacro"
    ns="antenna" />
  <xacro:antenna.antenna
    parent_link="body_link"
    xyz="-0.155 -0.055 0.065"
    rpy="0.0 0.0 0.0"
    antenna_angle="0.0" />

  <xacro:property name="camera_parent_link" value="camera_mount_link" />
  <xacro:property name="camera_xyz" value="0.0 0.0 0.0" />
  <xacro:property name="camera_rpy" value="0.0 0.0 0.0" />

  <xacro:property name="include_camera_mount" value="$(arg include_camera_mount)" />
  <!-- TODO <xacro:if value="${include_camera_mount or camera_model != 'None'}"> -->
    <xacro:include filename="$(find rosbot_xl_description)/urdf/rosbot_xl/components/camera_mount.urdf.xacro"
      ns="camera_mount" />
    <xacro:camera_mount.camera_mount
      parent_link="cover_link"
      xyz="-0.1 0.0 0.0"
      rpy="0.0 0.0 0.0"
      camera_mount_angle_1="0.0"
      camera_mount_angle_2="0.0" />
  <!-- </xacro:if> -->

</robot>
