<?xml version='1.0'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="rosbot_xl_robot"
    params="controller_config_file
            mecanum
            namespace
            simulation_engine
            use_sim">

    <xacro:if value="${namespace == 'None'}">
      <xacro:property name="ns" value="" />
    </xacro:if>
    <xacro:unless value="${namespace == 'None'}">
      <xacro:property name="ns" value="${namespace}/" />
    </xacro:unless>

    <xacro:if value="${mecanum}">
      <xacro:property name="wheel_radius" value="0.05" />
    </xacro:if>
    <xacro:unless value="${mecanum}">
      <xacro:property name="wheel_radius" value="0.048" />
    </xacro:unless>

    <!-- INCLUDE ROBOT PARTS DEFINITIONS -->
    <xacro:include filename="$(find rosbot_xl_description)/urdf/body.urdf.xacro" ns="body" />
    <xacro:include filename="$(find rosbot_xl_description)/urdf/gazebo.urdf.xacro" ns="gazebo" />
    <xacro:include filename="$(find rosbot_xl_description)/urdf/webots.urdf.xacro" ns="webots" />
    <xacro:include filename="$(find rosbot_xl_description)/urdf/wheel.urdf.xacro" ns="wheel" />

    <!-- BODY DECLARATION -->
    <xacro:body.body wheel_radius="${wheel_radius}" />

    <!-- WHEEL DECLARATION -->
    <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="fl" mecanum="${mecanum}"
      use_sim="$(arg use_sim)" />
    <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="fr" mecanum="${mecanum}"
      use_sim="$(arg use_sim)" />
    <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="rl" mecanum="${mecanum}"
      use_sim="$(arg use_sim)" />
    <xacro:wheel.wheel wheel_radius="${wheel_radius}" side="rr" mecanum="${mecanum}"
      use_sim="$(arg use_sim)" />

    <!-- ROS2 CONTROL -->
    <xacro:unless value="$(arg use_sim)">
      <ros2_control name="${ns}imu" type="sensor">
        <hardware>
          <plugin>rosbot_hardware_interfaces/RosbotImuSensor</plugin>
          <param name="connection_timeout_ms">120000</param>
          <param name="connection_check_period_ms">500</param>
        </hardware>
        <sensor name="${ns}imu">
          <state_interface name="orientation.x" />
          <state_interface name="orientation.y" />
          <state_interface name="orientation.z" />
          <state_interface name="orientation.w" />
          <state_interface name="angular_velocity.x" />
          <state_interface name="angular_velocity.y" />
          <state_interface name="angular_velocity.z" />
          <state_interface name="linear_acceleration.x" />
          <state_interface name="linear_acceleration.y" />
          <state_interface name="linear_acceleration.z" />
        </sensor>
      </ros2_control>
    </xacro:unless>

    <ros2_control name="${ns}wheels" type="system">
      <hardware>
        <xacro:if value="${use_sim}">
          <xacro:if value="${simulation_engine == 'ignition-gazebo'}">
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
          </xacro:if>
          <xacro:if value="${simulation_engine == 'webots'}">
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
          </xacro:if>
        </xacro:if>

        <xacro:unless value="$(arg use_sim)">
          <plugin>rosbot_hardware_interfaces/RosbotSystem</plugin>
          <param name="connection_timeout_ms">120000</param>
          <param name="connection_check_period_ms">500</param>

          <!-- order of velocity commands to be published in motors_cmd Float32MultiArray msg -->
          <param name="velocity_command_joint_order">
            rr_wheel_joint,
            rl_wheel_joint,
            fr_wheel_joint,
            fl_wheel_joint
          </param>
        </xacro:unless>
      </hardware>

      <joint name="fl_wheel_joint">
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="fr_wheel_joint">
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="rl_wheel_joint">
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="rr_wheel_joint">
        <command_interface name="velocity" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>

      <xacro:if value="${use_sim}">
        <xacro:if value="${simulation_engine == 'ignition-gazebo'}">
          <sensor name="${ns}imu">
            <state_interface name="orientation.x" />
            <state_interface name="orientation.y" />
            <state_interface name="orientation.z" />
            <state_interface name="orientation.w" />
            <state_interface name="angular_velocity.x" />
            <state_interface name="angular_velocity.y" />
            <state_interface name="angular_velocity.z" />
            <state_interface name="linear_acceleration.x" />
            <state_interface name="linear_acceleration.y" />
            <state_interface name="linear_acceleration.z" />
          </sensor>
        </xacro:if>
      </xacro:if>
    </ros2_control>

    <xacro:if value="${use_sim}">
      <xacro:if value="${simulation_engine == 'ignition-gazebo'}">
        <xacro:gazebo.controller config_file="${controller_config_file}" namespace="${namespace}" />
        <xacro:gazebo.imu reference_frame="imu_link" namespace="${namespace}" />
      </xacro:if>
      <xacro:if value="${simulation_engine == 'webots'}">
        <xacro:webots.controller />
      </xacro:if>
    </xacro:if>
  </xacro:macro>
</robot>
