<?xml version="1.0"?>

<model>
  <name>Slamntec S1</name>
  <version>2.0</version>
  <sdf version="1.6">slamtec_s1.ign.xacro</sdf>

  <author>
    <name>Krzysztof wojciechowski</name>
    <email>krzysztof.wojciechowski@husarion.com</email>
  </author>

  <description>
    Slamtec S1 lidar description
  </description>
</model>