<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rosbot_ign_plugins" >
    <!-- publish IMU -->
    <gazebo reference="imu_link">
      <sensor name="imu_link" type="imu">
        <plugin
          filename="ignition-gazebo-imu-system"
          name="ignition::gazebo::systems::Imu">
        </plugin>

        <always_on>true</always_on>
        <update_rate>25</update_rate>
        <topic>imu/data_raw</topic>
        <visualize>false</visualize>
        <enable_metrics>false</enable_metrics>

        <pose relative_to='imu_link'>0 0 0 0 0 0</pose>

        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>1.0</mean>
              <stddev>1</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1</stddev>
            </noise>
          </z>
        </angular_velocity>

        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.1</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.1</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.1</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </sensor>
    </gazebo>

    <gazebo>
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters>$(find rosbot_xl_description)/config/controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
